@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- Colors Giving in the Style Guide Template */

/* ## Colors */

/* ### Primary */
:root{

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

/* ### Neutral */

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

}

body{
    background: var(--Pale-blue);
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: repeat-x;
    background-position: top;
    padding: 2rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;


}
.main-container{
    text-align: center;
}
.main-container .card-container{
    margin: 40px 20px;
    /* border: 1px solid var(--); */
    box-shadow: 2px 3px 30px hsl(225, 100%, 94%); 
    border-radius: 20px;
    background-color: white;
}  
.card-container   .image-bg-container img{
    max-width: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px ;
}
.card-container div:not(:first-of-type) {
    padding: 20px 20px ;
}
.card-container .content-container h2{
    font-size: 1.7rem;
}
.card-container .content-container p{
    padding: 20px 35px;
}
.card-container .plan-container {
   display: flex;
   justify-content: center;
   background-color: var(--Very-pale-blue);
   padding: 15px 7px;
   margin: 0px 20px;
   border-radius: 10px;
}
.plan-container span:first-of-type{
    padding: 8px;
    background-color: var(--Pale-blue);
    border-radius: 50px;
}
.plan-container span:first-of-type i{
    color: var(--Desaturated-blue);
}
.plan-container span:first-of-type + span{
    margin: 0px 50px 0px 25px ;
}
.plan-container span:first-of-type + span h4{
    font-size: 13px;
}

.card-container .payment-container{
    margin: 10px 0px;
}
.card-container .payment-container a{
    display: block;
}
.card-container .payment-container a:first-of-type{
    margin-bottom: 10px;

}
.card-container .payment-container a:first-of-type button{
    padding: 20px 0px ;
    width: 100%;
    background-color: var(--Bright-blue);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    box-shadow: 2px 3px 30px hsl(225, 100%, 94%); 
}
.card-container .payment-container a:last-of-type:hover,
.card-container .plan-container a:last-of-type:hover{
    color: var(--bright-blue);
    transition: color 0.5s;

}


/* ---------Media Queries */

@media screen and (min-width: 768px){

    body{
        background-image: url(../images/pattern-background-desktop.svg);
    }
    .main-container{
        max-width: 450px;
        width: 80% ;
    }

    .plan-container span:first-of-type{
        padding: 10px;
    }
    .plan-container span:first-of-type + span h4{
        font-size: 16px;
    }
}

@media screen and (min-width: 1400px){



}




/* span */
